version: '2.1'
services:
  influxdb:
    image: influxdb
    ports:
      - 8086:8086
    volumes:
      - $PWD:/var/lib/influxdb

  nodeexporter:
    image: quay.io/prometheus/node-exporter
    ports:
      - 9100:9100
    command: ['--collector.procfs=/host/proc', '--collector.sysfs=/host/sys']
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
#    network_mode: 'host'

  prometheus:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - $PWD:/tmp/prometheus
    command: ['--config.file=/tmp/prometheus/prometheus.yml']

  remotestorageadapter:
    image: gavind/prometheus-remote-storage-adapter:0.1
    ports:
      - 9201:9201
    command: ['-influxdb-url=http://influxdb:8086']

